@import "./custom-styles/LinkButton.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body.modal-open {
    overflow-y: hidden;
}

:root {
    height: 100dvh;
}

body,
html,
#root {
    height: 100% !important;
    /* height: 100dvh !important */
}

input {
    all: unset;
}

textarea {
    @apply appearance-none rounded-lg border-[1px] border-solid border-neutral-alias-border-primary px-4 py-2 outline-none outline-offset-2 transition-colors duration-200 invalid:border-error-active invalid:ring-1 invalid:ring-error-active focus:border-primary-active focus:ring-1 focus:ring-primary-active hover:[&:not(:focus):not(:invalid)]:border-primary-border-hover;
    min-height: 5rem;
}

input {
    @apply h-10 rounded-lg border-[1px] border-solid border-neutral-alias-border-primary px-4 outline-none transition-all duration-200 focus:border-primary-active focus:ring-1 focus:ring-primary-active hover:[&:not(:focus):not(:invalid)]:border-primary-border-hover [&[aria-invalid]]:border-error-active [&[aria-invalid]]:ring-1 [&[aria-invalid]]:ring-error-active;
}

select {
    @apply relative h-10 w-full appearance-none rounded-lg border-[1px] border-solid border-neutral-alias-border-primary bg-none ps-4 outline-none transition-all duration-200 invalid:border-error-active invalid:ring-1 invalid:ring-error-active focus:border-primary-active focus:ring-1 focus:ring-primary-active hover:[&:not(:focus):not(:invalid)]:border-primary-border-hover [&~div]:right-2 [&~div]:h-full [&~div]:w-6;
}

@layer base {
    html {
        @apply text-normal;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply font-bold text-heading;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    h5 {
        @apply text-md;
    }
}

@layer utilities {
    .rounded {
        &-default {
            @apply rounded-2xl;
        }
    }
}

@layer components {
    .button {
        &-solid,
        &-outline,
        &-ghost {
            &-primary,
            &-success,
            &-warning,
            &-error,
            &-neutral {
                @apply rounded-lg;
            }
        }

        &-solid {
            &-primary,
            &-success,
            &-warning,
            &-error,
            &-neutral {
                @apply text-neutral-1;
            }
        }

        &-solid {
            &-primary {
                @apply bg-primary-_  hover:bg-primary-hover disabled:bg-primary-disabled;
            }

            &-success {
                @apply bg-success-_ hover:bg-success-hover disabled:bg-success-disabled;
            }

            &-warning {
                @apply bg-warning-_ hover:bg-warning-hover disabled:bg-warning-disabled;
            }

            &-error {
                @apply bg-error-_ hover:bg-error-hover disabled:bg-error-disabled;
            }

            &-neutral {
                @apply bg-neutral-alias-fill-primary hover:bg-neutral-alias-fill-secondary;
            }
        }

        &-ghost,
        &-outline {
            &-primary,
            &-success,
            &-warning,
            &-error,
            &-neutral {
                @apply bg-transparent;
            }
        }

        &-ghost,
        &-outline {
            &-primary {
                @apply text-primary-_ hover:bg-primary-bg active:bg-primary-bg-hover;
            }

            &-success {
                @apply text-success-_ hover:bg-success-bg active:bg-success-bg-hover;
            }

            &-warning {
                @apply text-warning-_ hover:bg-warning-bg active:bg-warning-bg-hover;
            }

            &-error {
                @apply text-error-_ hover:bg-error-bg active:bg-error-bg-hover;
            }

            &-neutral {
                @apply text-normal hover:bg-neutral-alias-fill-tertiary active:bg-neutral-alias-fill-primary;
            }
        }

        &-outline {
            &-primary,
            &-success,
            &-warning,
            &-error,
            &-neutral {
                @apply outline outline-1;
            }
        }

        &-outline {
            &-primary {
                @apply outline-primary-border;
            }

            &-success {
                @apply outline-success-border;
            }

            &-warning {
                @apply outline-warning-border;
            }

            &-error {
                @apply outline-error-border;
            }

            &-neutral {
                @apply outline-neutral-alias-border-primary;
            }
        }
    }

    .card {
        &-outline,
        &-elevated,
        &-simple {
            &-horizontal,
            &-vertical {
                @apply rounded-default;
            }
        }

        &-outline {
            &-horizontal,
            &-vertical {
                @apply outline outline-default;
            }
        }

        &-outline,
        &-elevated,
        &-simple {
            &-horizontal {
                @apply flex-row;
            }

            &-vertical {
                @apply flex-col;
            }
        }
    }

    .list {
        &-disc,
        &-decimal,
        &-none {
            &-inside {
                @apply list-inside;
            }

            &-outside {
                @apply list-outside;
            }
        }

        &-disc {
            &-inside,
            &-outside {
                @apply list-disc;
            }
        }

        &-decimal {
            &-inside,
            &-outside {
                @apply list-decimal;
            }
        }

        &-none {
            &-inside,
            &-outside {
                @apply list-none;
            }
        }
    }
}
